@import '../../style/dark-colour-variables.scss';
.elements{
  background-color: $gray6;
  border: 1px solid $gray3;
  border-top: 1px solid $gray2;
  border-right: 1px solid $gray2;
  border-radius: 8px;
  box-shadow: -2px 2px  8px*0.5 rgba(0, 0, 0, 0.4);
  .elements-dragabble{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:8px;
    padding: 8px*2;
    margin-top: -8px*2;
    overflow: scroll;
    .element{
      width: 8px*9;
      height: 8px*9;
      border: 1px solid $gray3;
      border-top: 1px solid $gray2;
      border-right: 1px solid $gray2;
      border-radius: 8px;
      background-color: #333;
      box-shadow:  -2px 2px 4px rgba(0, 0, 0, 0.3);
      cursor: grab;
      &:hover{
        box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0) , 1px 1px 6px rgba(0, 0, 0, 0.3);
        transform: scale(1.02);
        border: 1px solid $gray2;
        .element_label{
          text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
        }
      }
      &:active{
        cursor: grabbing;
        transform: scale(1.04);
      }
      &_icon{
        height: 8px*5.5;
        background-size: 8px*2;
      }
      &_label{
        text-align: center;
        height:8px*3.5;
        color: rgba(255, 255, 255, 0.6);
      }
      &.html-{
        
        &img{
          .element_icon{
            background-size: 8px*2.5;
          }

        }
        &h1{
          .element_icon{
            background-size: 8px*3.5;
          }
        }
        &p{
          .element_icon{
          }
        }
        &a{
          .element_icon{
            background-size: 8px*2.3;
          }
        }
        &button{
          .element_icon{
            background-size: 8px*4;
          }
        }
        &input{
          .element_icon{
            background-size: 8px*4;
          }
        }
      }
    }
  }
}