@import '../../style/dark-colour-variables.scss';

header{
    display: grid;
    grid-template-columns: 8px*12*3 auto 8px*12*3;
    position: fixed;
    top: 8px*3;
    width:100vw;
    height: 8px*6;
    background-color: $gray6;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    .left{
      .logo{
        width: 8px*6;
        height: 8px*6;
        background-image: url('../../assets/logo/logo-infinite.png');
        background-size: 60%;
        background-position: center center;
        background-repeat: no-repeat;
      }
    }
  }
