@import '../../style/dark-colour-variables.scss';
@import '../../style/colours.scss';

.copilot{
  position: fixed;
  bottom: 8px*51.5;
  right: 8px*8*10.1;
  z-index: 30;
  .chatbox{
    width: 8px*8*5;
    position: fixed;
    background-color: $gray6;
    border: 1px solid $gray2;
    border-radius: 8px*1;
    box-shadow: 2px 2px 8px*0.5 rgba(0, 0, 0, 0.5);

    overflow: hidden;

    z-index: 30;
    transition-duration: 0s;
    transition-delay: 0s;
    &:hover{
      transition-duration: 0s;
      transition-delay: 0s;
    }
    .chatbox__header{
      display: grid;
      grid-template-columns: 1fr 8px*5;
      border-bottom: 1px solid $gray3;
      padding: 8px*1.5;
      background-color: $gray7;
      font-weight: 600;
      box-shadow: 0 2px 8px*0.5 $gray7;
      //not text selectable
      user-select: none;
      cursor: hand;
      &:active{
        cursor: grabbing;
      }
      .chatbox__header__title{
        font-size: 1.1em;
        span{
          font-weight: 200;
          font-size: 0.8em;
          margin-left: 8px*0.5;
          color: $gray1;
        }
      }
      .chatbox__header__buttons{
        display: grid;
        grid-template-columns: 8px*1 8px*1 8px*1;
        align-items: center;
        gap: 8px;
        .close{
          width: 8px*1.1;
          height: 8px*1.1;
          border-radius: 50%;
          background-color: $red;
          box-shadow: 0 0 8px*0.1 black;
          &:hover{
            
            background-color: $red;
          }
        }
        .minimize{
          width: 8px*1.1;
          height: 8px*1.1;
          border-radius: 50%;
          background-color: $gray4;
          box-shadow: 0 0 8px*0.4 rgb(0, 0, 0);
          
          &:hover{
            background-color: $yellow;
          }
        }
        .maximize{
          width: 8px*1.1;
          height: 8px*1.1;
          border-radius: 50%;
          background-color: $green;
          box-shadow: 0 0 8px*0.4 rgb(0, 0, 0);
        }
      }
    }
    .chatbox__messages{
      width: 100%;
      padding: 8px;
      height: 8px*8*5;
      .messages{
        .message{
          width: 100%;
          padding: 8px;
  
        }
      }
      
      .input__message{
        position: absolute;
        bottom: 8px;
        width: 100%;
        input{
          width: calc(100% - 8px*2);
          padding: 8px 8px*2;
          background-color: $gray7;
          border-radius: 8px*1;
          border: 1px solid $gray4;
          box-shadow: 2 2px 8px*0.5 $gray7;
        }
      }
    }
    &.minimize{
      bottom: 8px*6.5;
      width: 8px*8*5;
      height: 8px*5;
      .chatbox__messages{
        display: none;
      }
    }
    &.maximize{
      bottom: 8px*6;
      width: 8px*8*5;
      height: 8px*8*6;
      .chatbox__messages{
        display: block;
      }
    }
    &.close{
      width:  8px*8*4;
      bottom: 8px*7.5;
      right: 8px*4.5;
      z-index: 9;
      .chatbox__messages{
        display: none;
      }
      .chatbox__header{
        background-color: $gray6;
      }
    }
  }
  .newChat{
    position: fixed;
    bottom: 8px*6.5;
    right: 8px*1.9;
    width: 8px*8*4.7;
    border: 1px solid $gray2;
    padding: 8px*1.5;
    background-color: $gray7;
    font-weight: 600;
    border-radius: 8px;
    box-shadow: 2px 2px 8px*2 $gray7;
    z-index: 10;
  }
}