

@import '../../style/dark-colour-variables.scss';

.menu-bar{
  position: fixed;
  top: 0;
  width:100vw;
  height: 8px*3;
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid $gray4;
  .menu{
    float: left;
    margin-left: 8px*1;
    margin-right: 8px*1;
    margin-top: 8px*0.5;
    color: #ddd;
    font-size: 8px*1.5;
    &.home{
      width: 8px*4;
      text-align: center;
    }
  }
}