@import '../../style/dark-colour-variables.scss';
.inspector{
  position: fixed;
  top: 8px*13.5;
  right: 8px;
  height: calc(100vh - 8px*18);
  border-radius: 8px;
  width: 8px*12*3;
  background-color: #222;
  border: 1px solid rgba(255, 255, 255, 0.4);
  .tabs{
    width: 80%;
    height: 8px*3;
    background-color: #F77900;
    margin-left: 10%;
    transform: translateY(-50%);
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.5);
  }
}