@import './dark-colour-variables.scss';

.App{
  width: 100vws;
  height: 100vh;
  color: #eee;
  font-size: 0.8em;
}

.footer{
  position: fixed;
  bottom: 0px;
  right: 0px;
  height: 8px*4;
  width: 100vw;
  background-color: #111;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}
