@import './dark-colour-variables.scss';
@import './heights-variables.scss';
.App{
  width: 100vw;
  height: 100vh;
  color: #eee;
  font-size: 0.8em;
}

.footer{
  position: fixed;
  bottom: 0px;
  right: 0px;
  height: $chatty*0.5;
  width: 100vw;
  background-color: $gray6;
  border-top: 1px solid rgba(255, 255, 255, 0.4);

  z-index: 2;
}
