$red: #FF3B30;
$orange: #f77700;
$yellow: #FFCC00;
$green: #28CD41;
$mint: #00C7BE;
$teal: #59ADC4;
$cyan: #55BEF0;
$blue: #007AFF;
$indigo: #5856D6;
$purple: #AF52DE;
$pink: #FF2D55;
$brown: #A2845E;
$gray: #8E8E93;


$orange-half: #f77700;
$green-half: #28CD41;