@import './style/dark-colour-variables.scss';

*{
  box-sizing: border-box;
  font-family: "SF Pro";
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  transition-duration: 0.1s;
  &:hover{
    transition-duration: 0.05s;
  }
}
body{
  background-color: $gray5;
}
.App{
  width: 100vw;
  height: 100vh;
  color: #eee;
  font-size: 0.8em;
}


.footer{
  position: fixed;
  bottom: 0px;
  right: 0px;
  height: 8px*4;
  width: 100vw;
  background-color: #111;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}
.canvas{
  position: fixed;
  top: 8px * 8;
  left: 8px * 34;
  height: calc(100vh - 8px*10);
  width: calc(100vw - 8px*19*3.9);
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  border: 2px solid rgb(204, 204, 204);
  z-index: 1;
  color: $gray6;
}

